<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Highlights</h2>
        <hr class="star-primary">
        <p class="section-lead">공개적으로 확인 가능한 MVP 활동, 커뮤니티 리딩, 행사 운영 이력을 바탕으로 메인 화면의 이야기를 구성했습니다.</p>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
        <div class="portfolio-copy">
          <h3>{{ post.title }}</h3>
          <p>{{ post.category }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
